* {
    font-family: 'Config';
    font-weight: 400;
}
h1, h2 {
    font-family: 'Config';
    font-weight: 700;
}
h3, h4, h5 {
    font-family: 'Config';
    font-weight: 600;
}

h1 {
    font-size: 20px;
}
h2 {
    font-size: 19px;
}
p{
    font-weight: 400;
}
@font-face {
    font-family: 'Config';
    src: url(/fonts/Config-Thin.otf);
    font-style: normal;
    font-weight: 100;
}
@font-face {
    font-family: 'Config';
    src: url(/fonts/Config-ExtraLight.otf);
    font-style: normal;
    font-weight: 200;
}
@font-face {
    font-family: 'Config';
    src: url(/fonts/Config-Light.otf);
    font-style: normal;
    font-weight: 300;
}
@font-face {
    font-family: 'Config';
    src: url(/fonts/Config-Regular.otf);
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Config';
    src: url(/fonts/Config-Text.otf);
    font-style: normal;
    font-weight: 500;
}
@font-face {
    font-family: 'Config';
    src: url(/fonts/Config-Medium.otf);
    font-style: normal;
    font-weight: 600;
}
@font-face {
    font-family: 'Config';
    src: url(/fonts/Config-SemiBold.otf);
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'Config';
    src: url(/fonts/Config-Bold.otf);
    font-style: normal;
    font-weight: 800;
}
@font-face {
    font-family: 'Config';
    src: url(/fonts/Config-ExtraBold.otf);
    font-style: normal;
    font-weight: 900;
}
@font-face {
    font-family: 'Config';
    src: url(/fonts/Config-Black.otf);
    font-style: normal;
    font-weight: 1000;
}

.ticker__list {
    animation: ticker 15s infinite linear;
}

.ticker:hover .ticker__list {
    animation-play-state: paused;
}

@-moz-keyframes ticker {
    100% {
        transform: translateX(-100%);
    }
}

@-webkit-keyframes ticker {
    100% {
        transform: translateX(-100%);
    }
}

@-o-keyframes ticker {
    100% {
        transform: translateX(-100%);
    }
}

@keyframes ticker {
    100% {
        transform: translateX(-100%);
    }
}
